﻿{% extends "bootstrap/base.html" %}

{% block title %}Tellstick{% endblock title %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

    </div> <!-- /.container-fluid -->    
</div>
{% endblock navbar %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello</h1>
    </div>
</div>
{% endblock content %}